* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: Fill (1, 200px) px;
  height: Hug (68px) px;
  max-width: 1200px;
  gap: 0px;
  opacity: 0px;
}
nav > div > img {
  width: 89.55px;
  height: 68px;
  gap: 0px;
  opacity: 0px;
}
nav > div > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 2.2rem;
}
