* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

/* ----------- Reusable Start---------- */
.primary-button {
  /* display: flex; */
  padding: 8px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background-color: #a554e6;
  color: var(--Base-White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border: none;
}
.section-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.section-title {
  color: var(--Base-Black, #000);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%; /* 59.52px */
  letter-spacing: -0.48px;
}
.section-color {
  color: #a554e6;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: -0.48px;
}
.section-des {
  width: 741px;
  margin: auto;
  color: var(--Gray-700, #344054);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
/* ----------- Reusable End---------- */

/* Header section */
header {
  background: #fff;
}
nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: Fill (1, 200px) px;
  height: Hug (68px) px;
  max-width: 1200px;
  margin: auto;
  gap: 0px;
  opacity: 0px;
  padding-top: 16px;
}
nav > div > img {
  width: 89.55px;
  height: 68px;
  gap: 0px;
  opacity: 0px;
}
nav > div > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 2.2rem;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#right-nav {
  width: Hug (277px) px;
  height: Hug (45px) px;
  gap: 12px;
  opacity: 0px;
}

#login-button {
  width: Hug (104px);
  height: Hug (45px);
  padding: 8px 27px 8px 27px;
  border-radius: 24px 24px 24px 24px;
  opacity: 0px;
  border: 1px solid #d0d5dd;
  background: inherit;
  color: #000000;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.book-demo-button {
  color: #a657e7;
  border: 1px solid #a657e7;
  background-color: inherit;
  width: Hug (161px) px;
  height: Hug (45px) px;
  padding: 8px 27px 8px 27px;
  border-radius: 24px 24px 24px 24px;
  opacity: 0px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

/* ------------------- Banner Section --------------- */
#banner-section {
  background-color: #f5f5f5;
}
#banner-text-container {
  width: 560px;
  height: 271px;
  gap: 12px;
  opacity: 0px;
  margin-top: 10px;
}
#banner-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 10px;
}
.banner-icon-container {
  background: #ffffff;
  display: flex;
  align-items: center;
  width: 283px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 12px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;
}
.banner-star-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#star {
  width: 17.11px;
  height: 16.36px;
  background-color: #344054;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.banner-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 8px;
}
#star-title {
  width: 215px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #344054;
}
.banner-title-gradient {
  background: linear-gradient(
    90deg,
    #2b034d 26.84%,
    #b564f7 57.46%,
    #d37ef0 86.78%,
    #ef91ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price {
  color: #d32e23;
}
.banner-paragraph {
  color: #344054;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
}
#banner-buttons {
  width: Hug (353px) px;
  height: Hug (45px) px;
  gap: 24px;
  opacity: 0px;
}
.banner-book-button {
  color: #a657e7;
  border: 1px solid #a657e7;
  width: Hug (173px) px;
  height: Hug (45px) px;
  padding: 8px 27px 8px 27px;
  gap: 10px;
  border-radius: 24px 24px 24px 24px;
  opacity: 0px;
}
#banner-texts {
  width: Fixed (560px) px;
  height: Hug (396px) px;
  top: 180px;
  left: 120px;
  gap: 12px;
  opacity: 0px;
}
#banner-images {
  display: flex;
  width: Hug (610.25px) px;
  height: Hug (387.01px) px;
  top: 180px;
  left: 708px;
  gap: 20px;
  opacity: 0px;
}
.banner-img {
  width: 295.13px;
  height: 387.01px;
  gap: 0px;
  opacity: 0px;
  border-radius: 18px;
}
#social-icons {
  width: 448px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icon {
  width: 48px;
  height: 48px;
  opacity: 0px;
}
#social-icn-title {
  width: 448px;
  height: 30px;
  margin-bottom: 8px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#social-icn-container {
  display: flex;
  align-items: end;
  justify-content: end;

  margin-top: 20px;
}

#social-icons-container {
  background: #ffffff;
  width: Hug (496px) px;
  height: Hug (130px) px;
  top: 604px;
  left: 822px;
  padding: 20px 24px 20px 24px;
  gap: 32px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;
}

/* ------------------------------------------------------------ */
/* ---------------------- Our Clients Features Styles ---------------------- */
/* ------------------------------------------------------------ */

#our-clients-features {
  background: #fff;
  height: 226px;
  flex-shrink: 0;
  border: 2px solid skyblue;
  padding: 48px 123px;
  margin-bottom: 100px;
}

#our-clients {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

#client-text {
  align-self: stretch;
  display: flex;
  width: 260px;
  flex-direction: column;
  align-items: flex-start;
}

#client-quantity {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#client-title {
  color: var(--Gray-800, #1d2939);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#divider {
  width: 1px;
  height: 130px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #000 49.44%,
    rgba(102, 102, 102, 0) 100%
  );
}

#logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo {
  display: flex;
  width: 170px;
  height: 48px;
  padding: 2px 0.738px 2px 0px;
  justify-content: center;
  align-items: center;
  gap: 11.38px;
  flex-shrink: 0;
}

/* ---------All-Inclusive Creative Services Styles-------------- */
#creative-services {
  max-width: 1200px;
  margin: auto;
}

#services-container {
  margin-top: 48px;
  display: flex;
  padding: 28px 24px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 16px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: #fff;
}

#services-contents-box {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}
#left-side-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
#what-we-provide {
  display: flex;
  align-items: center;
  gap: 20px;
}

#left-side-content h4 {
  color: var(--Base-Black, #000);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: -0.24px;
}
.creative-services {
  display: flex;
  /* align-items: center; */
  gap: 20px;
}

.creative-services-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.service-icon img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 6px;
}

.creative-services-content h2 {
  color: var(--Gray-900, #101828);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.creative-services-content p {
  width: 466px;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#service-divider {
  width: 1px;
  height: 336px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #000 49.44%,
    rgba(102, 102, 102, 0) 100%
  );
}

#right-side-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.left-content-box {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 113px;
  border-radius: 16px;
  border: 1px solid var(--Gray-300, #d0d5dd);
}

.creative-info {
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.creative-info h5 {
  align-self: stretch;
  color: var(--Gray-800, #1d2939);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 244.444% */
  letter-spacing: -0.36px;
}
.creative-info p {
  align-self: stretch;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 26.24px */
}

/*   <!----------------------------------------------------->
      <!-------------- Video Highlight Sections -------------> */
#video-highlight {
  padding-top: 80px;
  display: flex;
  width: 1202px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#video-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
#highlight-videos {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.video-content {
  display: flex;
  padding: 20px 24px 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #fff;
}
.video-title {
  width: 334px;
  height: 66px;
  display: flex;
  gap: 8px;
}
.video-img-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.video-img-content p {
  align-self: stretch;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Video Categories */
.video-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
}
.trending-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 31px;
  align-self: stretch;
}
.videos-topics {
  display: flex;
  padding: 12px 24px 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--Gray-300, #d0d5dd);
}

.videos-topics h3 {
  color: var(--Base-Black, #000);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 164%; /* 32.8px */
}
.videos-topics p {
  width: 338px;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ------------------Business Video Sections--------------------------- */
.business-title {
  display: flex;
  align-items: center;
  gap: 16px;
}
#business-videos-container {
  padding-top: 80px;
  display: flex;
  width: 1221px;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.business-videos {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.business-video {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 279px;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.business-video img {
  width: 279px;
  height: 326.426px;
  flex-shrink: 0;
  border-radius: 19.426px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.business-video p {
  align-self: stretch;
  color: var(--Gray-700, #344054);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 164%;
}
.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* ------------------ Personal Branding Video Sections --------------------------- */
#branding-videos-container {
  padding-top: 100px;
  display: flex;
  width: 1221px;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
#branding-videos-section {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

/* -------------------- Why Shorts Video Sections ----------------------- */
#why-shorts-videos {
  margin-top: 100px;
  padding: 40px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #fff;
}
#why-shorts-container {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

#why-shorts {
  width: 480px;
  height: 501px;
}
#why-shorts-content {
  display: flex;
  width: 672px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
#why-shorts-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
#why-shorts-texts h3 {
  align-self: stretch;
  color: var(--Base-Black, #000);
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: -0.48px;
}

#why-shorts-texts p {
  align-self: stretch;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* --------------------------------------------- */
/* --------- Client Stories Container ---------- */
/* --------------------------------------------- */

#client-stories-sections {
  display: flex-inline;
  padding: 80px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#client-stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#client-stories-header {
  width: 795px;
  height: 120px;
  margin: auto;
}
#client-stories-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}
#partners-videos {
  display: flex;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.partner-video {
  width: 256px;
  height: 317px;
}
.client-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}
.top-review-box {
  display: flex;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}
.client-review {
  display: flex;
  padding: 24px 37px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 14px;
  border: 1px solid rgba(0, 159, 226, 0.33);
  background: #fff;
}
.review-header {
  display: flex;
  align-items: center;
  gap: 140px;
}
.reviewers {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviewer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.reviewer-info h3 {
  color: #1b1d20;
  text-align: right;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.reviewer-info p {
  color: var(--Gray-700, #344054);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.review-rating-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.review-rating-box p {
  color: var(--Gray-800, #1d2939);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.review-details-box {
  width: 512px;
  height: 139px;
}
.review-details-box p {
  width: 507px;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.comma {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 2.667px 1.461px 2.667px 0.667px;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.5;
}
.comma-two {
  display: flex;
  align-items: end;
  justify-content: end;
}
#testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.client-testimonial {
  display: flex;
  padding: 29px 37px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 14px;
  border: 1px solid rgba(0, 159, 226, 0.33);
  background: #fff;
}
.user-info-card {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.user-details {
  display: flex;
  width: 233.067px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.user-name h3 {
  color: #1b1d20;
  text-align: right;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.user-name p {
  color: var(--Gray-700, #344054);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.say-testimonial {
  width: 316px;
  height: 159px;
}
.say-testimonial p {
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* --------------------------------------------- */
/* --------- FAQ Section ---------- */
/* --------------------------------------------- */
.faq-subtext {
  width: 1066px;
  color: var(--Gray-800, #1d2939);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
#faq-sections {
  padding: 80px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.faq-container {
  width: 1221px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.faq-item {
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  padding: 15px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: var(--Grey-grey-500, #212121);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  border-radius: 5px;
  position: relative;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  color: black;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 2px solid black;
}

.faq-answer {
  padding: 15px;
  display: none;
  background-color: #fff;
  color: #949494;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-question::after {
  content: "-";
}

/* ------------------------------------- */
/* ------------ Footer Styles----------- */

footer {
  display: flex;
  height: 526px;
  padding: 46px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Base-White, #fff);
}
#footer-container {
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
#main-columns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-self: stretch;
  gap: 50px;
}
#footer-logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

#footer-logo-section h2 {
  align-self: stretch;
  color: var(--Base-Black, #000);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 132%;
  letter-spacing: -0.48px;
}
#footer-logo-section h4 {
  align-self: stretch;
  color: var(--Base-Black, #000);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 23.76px */
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

#footer-logo-section p {
  width: 325px;
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 26.24px */
}
#footer-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
#footer-routes {
  display: flex;
  justify-content: space-between;
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.quick-links h4 {
  color: var(--Base-Black, #000);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%; /* 23.76px */
  letter-spacing: -0.36px;
  text-transform: capitalize;
}
.quick-links ul {
  list-style: none;
}
.quick-links ul li {
  color: var(--Gray-700, #344054);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 212%; /* 33.92px */
}

#contact-section {
  display: flex;
  width: 295px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
#contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
#contact-container h4 {
  align-self: stretch;
  color: var(--Base-Black, #000);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
#form-container {
  display: flex;
  width: 295px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

#email-input {
  display: flex;
  padding: 8px 183px 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
}
#phone-number {
  display: flex;
  padding: 8px 183px 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
}
#textarea {
  display: flex;
  padding: 8px 183px 56px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
}
.submit-button-container {
  display: flex;
  padding: 8px 90px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: #1d1d1d;
}
.submit-button-container button {
  color: var(--Base-White, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  background: transparent;
  border: none;
}
.submit-button-container img {
  width: 16px;
  height: 16px;
  margin-top: -3px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.footer-section p {
  align-self: stretch;
  color: var(--Base-Black, #000);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
